<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Welcome to DesoBot</h1>
        <p>DesoBot is a Discord bot written for small and large servers alike. It's still being developed, with new features being added frequently.</p>
        <a class="btn btn-primary btn-lg" href="https://discordapp.com/oauth2/authorize?client_id={{botInfo.clientId}}&scope=bot&permissions=286379024" role="button">Add to Server</a>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3>Temporary VCs</h3>
            <p>
                This bot has the ability to create temporary voice chats. All a user has to do is join a special voice channel in your server, and the bot will automatically
                create a new VC and move the user to it. Once a user is in the voice chat, they have the ability to make it private and restrict who is able to join it, all
                through commands.
            </p>
        </div>
        <div class="col-md-4">
            <h3>Color Roles</h3>
            <p>
                The bot can also allow users to set the color of their own name with a simple command, automatically creating a role for the user and adding it to them. Why
                limit the user to a small set of colors when they can pick from over sixteen million?
            </p>
        </div>
        <div class="col-md-4">
            <h3>Open-Source</h3>
            <p>
                Bot doesn't do what you want? Want to know how a feature works? Want to just host it yourself? The entire bot is open-source - including the web interface for
                it. Written in C#, the bot can run almost anywhere (we run it in production on Linux under Docker), and the only external dependency is a MySQL or MariaDB 
                database.
            </p>
            <a class="btn btn-secondary btn-lg" href="https://github.com/EthanJohnson97/GeneralPurposeBot" role="button">View on GitHub</a>
        </div>
    </div>
</div>